<div class="container">

    <div class="row border p-1 mt-2">
            <h3>Deathly Hallow Race </h3>
            <div class="col-4">
            <div>Invisibility Cloak - <span id="cloakCounter"></span></div>

            </div>
            <div class="col-4">
            <div>Resurrection Stone - <span id="stoneCounter"></span></div>

            </div>
            <div class="col-4">
            <div>Elder Wand - <span id="wandCounter"></span></div>

            </div>
            <hr />
            <p>Url to Vote:</p>
            <div>1. Invisibility Cloak - https://localhost:7001/Home/DeathlyHallows?type=cloak </div>
            <div>2. Resurrection Stone - https://localhost:7001/Home/DeathlyHallows?type=stone </div>
            <div>3. Elder Wand - https://localhost:7001/Home/DeathlyHallows?type=wand </div>
        </div>

    
</div>



<script src="~/js/signalr.js"></script>
<script src="~/js/deathlyHallows.js"></script>
