<div class="container">

             <div class="row border p-1 mt-3">
            <h3>Subscribed List: </h3>
            <hr />
            <div class="row p-2">
            <div class="col-3">
                <label style="color:#B52033" id="lbl_houseJoined"></label>
            </div>
        </div>
        </div>
        <div class="row border p-1 mt-3">
            <h3>Subscribe: </h3>
            <hr />
            <div class="row p-2">
            <div class="col-3">
                <button class="btn" style="background-color:#B52033" id="btn_gryffindor">Gryffindor</button>
            </div>
                <div class="col-3">
                    <button class="btn" style="background-color:#236E50" id="btn_slytherin">Slytherin</button>
            </div>
                <div class="col-3">
                    <button class="btn" style="background-color:#EDB526" id="btn_hufflepuff">Hufflepuff</button>
            </div>
                <div class="col-3">
                    <button class="btn" style="background-color:#10749F" id="btn_ravenclaw">Ravenclaw</button>
            </div>
        </div>
    </div>
    <div class="row border p-1 mt-3">
            <h3>Unsubscribe: </h3>
            <hr />
            <div class="row p-2">
            <div class="col-3">
                <button class="btn" style="background-color:#B52033;display:none;" id="btn_un_gryffindor">Gryffindor</button>
            </div>
                <div class="col-3">
                    <button class="btn" style="background-color:#236E50;display:none;" id="btn_un_slytherin">Slytherin</button>
            </div>
                <div class="col-3">
                    <button class="btn" style="background-color:#EDB526;display:none;" id="btn_un_hufflepuff">Hufflepuff</button>
            </div>
                <div class="col-3">
                    <button class="btn" style="background-color:#10749F;display:none;" id="btn_un_ravenclaw">Ravenclaw</button>
            </div>
        </div>
    </div>
        <div class="row border p-1 mt-3">
            <h3>Trigger Notification: </h3>
            <hr />
            <div class="row p-2">
            <div class="col-3">
                <button class="btn" style="background-color:#B52033" id="trigger_gryffindor">Gryffindor</button>
            </div>
                <div class="col-3">
                    <button class="btn" style="background-color:#236E50" id="trigger_slytherin">Slytherin</button>
            </div>
                <div class="col-3">
                    <button class="btn" style="background-color:#EDB526" id="trigger_hufflepuff">Hufflepuff</button>
            </div>
                <div class="col-3">
                    <button class="btn" style="background-color:#10749F" id="trigger_ravenclaw">Ravenclaw</button>
            </div>
        </div>
        </div>




    
</div>

<script src="~/js/signalr.js"></script>
<script src="~/js/houseGroup.js"></script>