@model Order

<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Place Order</h2>
			<hr />
		</div>
		@*<div asp-validation-summary="All"></div>*@
		<div class="mb-3">
			<label asp-for="Name"></label>
			<input asp-for="Name" class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="ItemName"></label>
			<input asp-for="ItemName" class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="Count"></label>
			<input asp-for="Count" class="form-control" />
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">Place Order</button>
	</div>
</form>

