<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Order List</h2>
		</div>
        <div class="col-6 text-end">
           
		</div>
	</div>
    <br /><br />

<table  id="tblData"  class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Item</th>
            <th>Count</th>
            <th></th>
		</tr>
	</thead>
</table>
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="~/js/signalr.js"></script>
<script src="~/js/order.js"></script>